In [1]:
# practice makes perfect

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('Google.csv',na_values=[0.0])
df = pd.DataFrame(df)

In [2]:
df.head()

,Application_ID,Candidate_ID,Application_Job_Role,Application_Type,Application_Location_Site (Bay Area),Candidate_Source,Application_Recruiter_Name,Application_Create_Date,Offer_Accepted_Date,Application_Created_Flag,...,Onsite_Interview_Flag,Offer_Extended_Flag,Offer_Accepted_Flag,Average_Onsite_Interview_Score,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,100000.0,500.0,SWE,Direct Employee Applicant,US-MTV,Sourcer Driven Employee Referral,Recruiter 1,10/28/15,NaN,1.0,...,1.0,NaN,NaN,2.7,NaN,NaN,NaN,NaN,NaN,NaN
1,100001.0,502.0,SWE,New Grad,US-MTV,Sourcer,Recruiter 2,10/15/15,NaN,1.0,...,1.0,NaN,NaN,2.4,NaN,NaN,NaN,NaN,NaN,NaN
2,100002.0,504.0,SWE,New Grad,US-MTV,Sourcer,Recruiter 2,8/27/15,NaN,1.0,...,1.0,NaN,NaN,2.7,NaN,NaN,NaN,NaN,NaN,NaN
3,100003.0,506.0,SWE,Direct Employee Applicant,US-MTV,Sourcer Driven Employee Referral,Recruiter 3,10/24/15,NaN,1.0,...,1.0,NaN,NaN,2.1,NaN,NaN,NaN,NaN,NaN,NaN
4,100004.0,508.0,SWE,New Grad,US-MTV,Sourcer,Recruiter 4,7/24/15,NaN,1.0,...,1.0,NaN,NaN,2.8,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6653 entries, 0 to 6652
Data columns (total 21 columns):
Application_ID                          6650 non-null float64
Candidate_ID                            6650 non-null float64
Application_Job_Role                    6650 non-null object
Application_Type                        6650 non-null object
Application_Location_Site (Bay Area)    6650 non-null object
Candidate_Source                        6650 non-null object
Application_Recruiter_Name              6650 non-null object
Application_Create_Date                 6650 non-null object
Offer_Accepted_Date                     68 non-null object
Application_Created_Flag                6650 non-null float64
Phone_Interview_Flag                    1068 non-null float64
Onsite_Interview_Flag                   199 non-null float64
Offer_Extended_Flag                     79 non-null float64
Offer_Accepted_Flag                     68 non-null float64
Average_Onsite_Interview_Score          199 non-null float64
Unnamed: 15                             0 non-null float64
Unnamed: 16                             0 non-null float64
Unnamed: 17                             0 non-null float64
Unnamed: 18                             0 non-null float64
Unnamed: 19                             0 non-null float64
Unnamed: 20                             0 non-null float64
dtypes: float64(14), object(7)
memory usage: 1.1+ MB

In [4]:
df.describe()

,Application_ID,Candidate_ID,Application_Created_Flag,Phone_Interview_Flag,Onsite_Interview_Flag,Offer_Extended_Flag,Offer_Accepted_Flag,Average_Onsite_Interview_Score,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
count,6650.000000,6650.000000,6650.0,1068.0,199.0,79.0,68.0,199.000000,0.0,0.0,0.0,0.0,0.0,0.0
mean,106109.013083,9286.257143,1.0,1.0,1.0,1.0,1.0,2.592965,NaN,NaN,NaN,NaN,NaN,NaN
std,4214.650196,5742.316520,0.0,0.0,0.0,0.0,0.0,0.340010,NaN,NaN,NaN,NaN,NaN,NaN
min,100000.000000,500.000000,1.0,1.0,1.0,1.0,1.0,1.400000,NaN,NaN,NaN,NaN,NaN,NaN
25%,102743.250000,4860.500000,1.0,1.0,1.0,1.0,1.0,2.600000,NaN,NaN,NaN,NaN,NaN,NaN
50%,104405.500000,7523.000000,1.0,1.0,1.0,1.0,1.0,2.600000,NaN,NaN,NaN,NaN,NaN,NaN
75%,111466.750000,10415.500000,1.0,1.0,1.0,1.0,1.0,2.700000,NaN,NaN,NaN,NaN,NaN,NaN
max,113130.000000,20722.000000,1.0,1.0,1.0,1.0,1.0,3.600000,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
df['Candidate_Source'].value_counts()

Online Application/Other            4918
Employee Referral                    803
Sourcer                              778
Sourcer Driven Employee Referral     151
Name: Candidate_Source, dtype: int64

In [49]:
df = df.loc[df['Candidate_Source']=='Online Application/Other','Application_ID']

In [56]:
pd.DataFrame(df)

,Application_ID,Candidate_ID,Application_Job_Role,Application_Type,Application_Location_Site (Bay Area),Candidate_Source,Application_Recruiter_Name,Application_Create_Date,Offer_Accepted_Date,Application_Created_Flag,...,Onsite_Interview_Flag,Offer_Extended_Flag,Offer_Accepted_Flag,Average_Onsite_Interview_Score,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,100000.0,500.0,SWE,Direct Employee Applicant,US-MTV,Sourcer Driven Employee Referral,Recruiter 1,10/28/15,NaN,1.0,...,1.0,NaN,NaN,2.7,NaN,NaN,NaN,NaN,NaN,NaN
1,100001.0,502.0,SWE,New Grad,US-MTV,Sourcer,Recruiter 2,10/15/15,NaN,1.0,...,1.0,NaN,NaN,2.4,NaN,NaN,NaN,NaN,NaN,NaN
2,100002.0,504.0,SWE,New Grad,US-MTV,Sourcer,Recruiter 2,8/27/15,NaN,1.0,...,1.0,NaN,NaN,2.7,NaN,NaN,NaN,NaN,NaN,NaN
3,100003.0,506.0,SWE,Direct Employee Applicant,US-MTV,Sourcer Driven Employee Referral,Recruiter 3,10/24/15,NaN,1.0,...,1.0,NaN,NaN,2.1,NaN,NaN,NaN,NaN,NaN,NaN
4,100004.0,508.0,SWE,New Grad,US-MTV,Sourcer,Recruiter 4,7/24/15,NaN,1.0,...,1.0,NaN,NaN,2.8,NaN,NaN,NaN,NaN,NaN,NaN
5,100005.0,510.0,SWE,Direct Employee Applicant,US-MTV,Sourcer,Recruiter 5,10/31/15,NaN,1.0,...,1.0,NaN,NaN,2.7,NaN,NaN,NaN,NaN,NaN,NaN
6,100006.0,512.0,SWE,New Grad,US-MTV,Online Application/Other,Recruiter 6,9/27/15,NaN,1.0,...,1.0,NaN,NaN,2.3,NaN,NaN,NaN,NaN,NaN,NaN
7,100007.0,514.0,SWE,New Grad,US-MTV,Sourcer,Recruiter 7,9/7/15,NaN,1.0,...,1.0,NaN,NaN,2.6,NaN,NaN,NaN,NaN,NaN,NaN
8,100008.0,516.0,SWE,New Grad,US-MTV,Online Application/Other,Recruiter 8,9/14/15,NaN,1.0,...,1.0,NaN,NaN,2.2,NaN,NaN,NaN,NaN,NaN,NaN
9,101089.0,2674.0,SWE,Intern Conversion,US-MTV,Online Application/Other,Recruiter 38,7/17/15,NaN,1.0,...,1.0,NaN,NaN,2.1,NaN,NaN,NaN,NaN,NaN,NaN
10,101090.0,2676.0,SWE,Intern Conversion,US-MTV,Online Application/Other,Recruiter 8,7/15/15,NaN,1.0,...,1.0,NaN,NaN,3.2,NaN,NaN,NaN,NaN,NaN,NaN
11,101091.0,2678.0,SWE,New Grad,US-MTV,Employee Referral,Recruiter 47,7/29/15,NaN,1.0,...,1.0,NaN,NaN,2.4,NaN,NaN,NaN,NaN,NaN,NaN
12,101092.0,2680.0,SWE,New Grad,US-SBO,Sourcer,Recruiter 23,10/21/15,NaN,1.0,...,1.0,NaN,NaN,2.2,NaN,NaN,NaN,NaN,NaN,NaN
13,101093.0,2682.0,SWE,New Grad,US-MTV,Online Application/Other,Recruiter 36,9/26/15,NaN,1.0,...,1.0,NaN,NaN,2.8,NaN,NaN,NaN,NaN,NaN,NaN
14,104078.0,8020.0,SWE,Employee Rehire,US-MTV,Sourcer,Recruiter 67,3/19/15,12/22/15,1.0,...,1.0,1.0,1.0,2.6,NaN,NaN,NaN,NaN,NaN,NaN
15,101095.0,2686.0,SWE,Direct Employee Applicant,US-MTV,Sourcer Driven Employee Referral,Recruiter 3,10/13/15,NaN,1.0,...,1.0,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
16,101122.0,2740.0,SWE,New Grad,US-MTV,Employee Referral,Recruiter 93,6/15/15,12/11/15,1.0,...,1.0,1.0,1.0,3.1,NaN,NaN,NaN,NaN,NaN,NaN
17,101097.0,2690.0,SWE,Direct Employee Applicant,US-MTV,Sourcer Driven Employee Referral,Recruiter 84,11/7/15,NaN,1.0,...,1.0,NaN,NaN,2.9,NaN,NaN,NaN,NaN,NaN,NaN
18,101197.0,2890.0,SWE,Intern Conversion,US-MTV,Online Application/Other,Recruiter 4,7/14/15,12/16/15,1.0,...,1.0,1.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
19,101099.0,2694.0,SWE,New Grad,US-MTV,Online Application/Other,Recruiter 21,10/27/15,NaN,1.0,...,1.0,NaN,NaN,2.7,NaN,NaN,NaN,NaN,NaN,NaN
20,101190.0,2876.0,SWE,Intern Conversion,US-SBO,Online Application/Other,Recruiter 20,7/17/15,12/1/15,1.0,...,1.0,1.0,1.0,1.9,NaN,NaN,NaN,NaN,NaN,NaN
21,101101.0,2698.0,SWE,New Grad,US-MTV,Online Application/Other,Recruiter 60,9/23/15,NaN,1.0,...,1.0,NaN,NaN,2.7,NaN,NaN,NaN,NaN,NaN,NaN
22,101102.0,2700.0,SWE,Direct Employee Applicant,US-MTV,Online Application/Other,Recruiter 1,9/15/08,NaN,1.0,...,1.0,NaN,NaN,3.6,NaN,NaN,NaN,NaN,NaN,NaN
23,101098.0,2692.0,SWE,Intern Conversion,US-MTV,Sourcer,Recruiter 22,7/23/15,12/4/15,1.0,...,1.0,1.0,1.0,2.8,NaN,NaN,NaN,NaN,NaN,NaN
24,101104.0,2704.0,SWE,Direct Employee Applicant,US-SBO,Sourcer,Recruiter 82,11/11/15,NaN,1.0,...,1.0,NaN,NaN,1.7,NaN,NaN,NaN,NaN,NaN,NaN
25,101105.0,2706.0,SWE,Direct Employee Applicant,US-MTV,Sourcer,Recruiter 116,6/20/15,NaN,1.0,...,1.0,NaN,NaN,3.2,NaN,NaN,NaN,NaN,NaN,NaN
26,101106.0,2708.0,SWE,Direct Employee Applicant,US-MTV,Sourcer,Recruiter 18,10/28/15,NaN,1.0,...,1.0,NaN,NaN,2.1,NaN,NaN,NaN,NaN,NaN,NaN
27,101107.0,2710.0,SWE,Direct Employee Applicant,US-SBO,Online Application/Other,Recruiter 12,11/3/15,NaN,1.0,...,1.0,NaN,NaN,2.8,NaN,NaN,NaN,NaN,NaN,NaN
28,101108.0,2712.0,SWE,New Grad,US-MTV,Sourcer,Recruiter 14,9/19/15,NaN,1.0,...,1.0,NaN,NaN,2.7,NaN,NaN,NaN,NaN,NaN,NaN
29,101109.0,2714.0,SWE,New Grad,US-MTV,Employee Referral,Recruiter 60,11/7/15,NaN,1.0,...,1.0,NaN,NaN,2.5,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6623,113104.0,20686.0,SWE,New Grad,US-MTV,Sourcer,Recruiter 70,10/19/15,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6624,113105.0,20688.0,SWE,New Grad,US-MTV,Online Application/Other,Recruiter 156,12/1/15,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6625,113106.0,20690.0,SWE,Direct Employee Applicant,US-MTV,Online Application/Other,Recruiter 28,11/22/15,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6626,113107.0,20692.0,SWE,Direct Employee Applicant,US-MTV,Employee Referral,Recruiter 174,12/12/15,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6627,113108.0,5748.0,SWE,Direct Employee Applicant,US-MTV,Online Application/Other,Recruiter 170,12/19/15,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6628,113109.0,15632.0,SWE,Direct Employee Applicant,US-SFO,Online Application/Other,Recruiter 158,12/28/15,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6629,113110.0,20694.0,SWE,Direct Employee Applicant,US-MTV,Online Application/Other,Recruiter 134,12/28/15,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6630,113111.0,20696.0,SWE,Direct Employee Applicant,US-MTV,Online Application/Other,Recruiter 12,7/27/15,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6631,113112.0,18080.0,SWE,New Grad,US-SBO,Employee Referral,Recruiter 67,12/18/15,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6632,113113.0,20698.0,SWE,Direct Employee Applicant,US-MTV,Online Application/Other,Recruiter 71,11/2/15,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6633,113114.0,13866.0,SWE,Direct Employee Applicant,US-MTV,Online Application/Other,Recruiter 8,3/26/15,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6634,113115.0,20700.0,SWE,Direct Employee Applicant,US-MTV,Sourcer,Recruiter 126,12/17/15,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6635,113116.0,20702.0,SWE,Direct Employee Applicant,US-SBO,Online Application/Other,Recruiter 12,6/24/15,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6636,113117.0,20704.0,SWE,Direct Employee Applicant,US-MTV,Online Application/Other,Recruiter 154,12/3/15,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6637,113118.0,4080.0,SWE,Direct Employee Applicant,US-SBO,Online Application/Other,Recruiter 168,11/27/15,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6638,113119.0,20706.0,SWE,Direct Employee Applicant,US-SBO,Online Application/Other,Recruiter 173,12/29/15,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6639,113120.0,11010.0,SWE,New Grad,US-SBO,Employee Referral,Recruiter 200,12/12/15,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6640,113121.0,20708.0,SWE,Direct Employee Applicant,US-MTV,Online Application/Other,Recruiter 43,11/5/15,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6641,113122.0,20710.0,SWE,New Grad,US-MTV,Sourcer,Recruiter 195,11/24/15,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6642,113123.0,20712.0,SWE,Direct Employee Applicant,US-MTV,Employee Referral,Recruiter 79,11/26/15,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6643,113124.0,20714.0,SWE,Direct Employee Applicant,US-MTV,Sourcer,Recruiter 25,10/27/15,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6644,113125.0,15862.0,SWE,Direct Employee Applicant,US-MTV,Online Application/Other,Recruiter 170,12/1/15,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6645,113126.0,15622.0,SWE,Direct Employee Applicant,US-MTV,Online Application/Other,Recruiter 159,12/15/15,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6646,113127.0,20716.0,SWE,Direct Employee Applicant,US-MTV,Online Application/Other,Recruiter 154,12/23/15,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6647,113128.0,20718.0,SWE,New Grad,US-MTV,Sourcer,Recruiter 19,12/8/15,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6648,113129.0,20720.0,SWE,New Grad,US-MTV,Online Application/Other,Recruiter 156,12/18/15,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6649,113130.0,20722.0,SWE,Direct Employee Applicant,US-MTV,Online Application/Other,Recruiter 158,12/26/15,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6651,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6652,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
df['Application_Type'].value_counts().head()

Direct Employee Applicant    5085
New Grad                     1500
Intern Conversion              30
Internal Transfer              14
Intern Rehire                  12
Name: Application_Type, dtype: int64

In [58]:
df = df.set_index(['Application_ID'])

In [59]:
df = df.dropna(axis=0,how='all')
df = df.dropna(axis=1,how='all')

In [60]:
df.iloc[0:1,:]

,Candidate_ID,Application_Job_Role,Application_Type,Application_Location_Site (Bay Area),Candidate_Source,Application_Recruiter_Name,Application_Create_Date,Offer_Accepted_Date,Application_Created_Flag,Phone_Interview_Flag,Onsite_Interview_Flag,Offer_Extended_Flag,Offer_Accepted_Flag,Average_Onsite_Interview_Score
Application_ID,,,,,,,,,,,,,,
100000.0,500.0,SWE,Direct Employee Applicant,US-MTV,Sourcer Driven Employee Referral,Recruiter 1,10/28/15,NaN,1.0,1.0,1.0,NaN,NaN,2.7

In [61]:
df.columns

Index(['Candidate_ID', 'Application_Job_Role', 'Application_Type',
       'Application_Location_Site (Bay Area)', 'Candidate_Source',
       'Application_Recruiter_Name', 'Application_Create_Date',
       'Offer_Accepted_Date', 'Application_Created_Flag',
       'Phone_Interview_Flag', 'Onsite_Interview_Flag', 'Offer_Extended_Flag',
       'Offer_Accepted_Flag', 'Average_Onsite_Interview_Score'],
      dtype='object')

In [62]:
df['Application_Recruiter_Name'].value_counts().head()

Recruiter 12     412
Recruiter 156    274
Recruiter 8      224
Recruiter 1      218
Recruiter 134    215
Name: Application_Recruiter_Name, dtype: int64

In [63]:
df[['Offer_Accepted_Flag','Offer_Extended_Flag']].replace(np.nan,0)

                Offer_Accepted_Flag  Offer_Extended_Flag
Application_ID
100000.0                        0.0                  0.0
100001.0                        0.0                  0.0
100002.0                        0.0                  0.0
100003.0                        0.0                  0.0
100004.0                        0.0                  0.0
100005.0                        0.0                  0.0
100006.0                        0.0                  0.0
100007.0                        0.0                  0.0
100008.0                        0.0                  0.0
101089.0                        0.0                  0.0
101090.0                        0.0                  0.0
101091.0                        0.0                  0.0
101092.0                        0.0                  0.0
101093.0                        0.0                  0.0
104078.0                        1.0                  1.0
101095.0                        0.0                  0.0
101122.0                        1.0                  1.0
101097.0                        0.0                  0.0
101197.0                        1.0                  1.0
101099.0                        0.0                  0.0
101190.0                        1.0                  1.0
101101.0                        0.0                  0.0
101102.0                        0.0                  0.0
101098.0                        1.0                  1.0
101104.0                        0.0                  0.0
101105.0                        0.0                  0.0
101106.0                        0.0                  0.0
101107.0                        0.0                  0.0
101108.0                        0.0                  0.0
101109.0                        0.0                  0.0
...                             ...                  ...
113101.0                        0.0                  0.0
111258.0                        1.0                  1.0
113103.0                        0.0                  0.0
113104.0                        0.0                  0.0
113105.0                        0.0                  0.0
113106.0                        0.0                  0.0
113107.0                        0.0                  0.0
113108.0                        0.0                  0.0
113109.0                        0.0                  0.0
113110.0                        0.0                  0.0
113111.0                        0.0                  0.0
113112.0                        0.0                  0.0
113113.0                        0.0                  0.0
113114.0                        0.0                  0.0
113115.0                        0.0                  0.0
113116.0                        0.0                  0.0
113117.0                        0.0                  0.0
113118.0                        0.0                  0.0
113119.0                        0.0                  0.0
113120.0                        0.0                  0.0
113121.0                        0.0                  0.0
113122.0                        0.0                  0.0
113123.0                        0.0                  0.0
113124.0                        0.0                  0.0
113125.0                        0.0                  0.0
113126.0                        0.0                  0.0
113127.0                        0.0                  0.0
113128.0                        0.0                  0.0
113129.0                        0.0                  0.0
113130.0                        0.0                  0.0

[6650 rows x 2 columns]

In [64]:
df = df.dropna(axis=0,how='all')
df = df.dropna(axis=1,how='all')

In [65]:
df.head()

,Candidate_ID,Application_Job_Role,Application_Type,Application_Location_Site (Bay Area),Candidate_Source,Application_Recruiter_Name,Application_Create_Date,Offer_Accepted_Date,Application_Created_Flag,Phone_Interview_Flag,Onsite_Interview_Flag,Offer_Extended_Flag,Offer_Accepted_Flag,Average_Onsite_Interview_Score
Application_ID,,,,,,,,,,,,,,
100000.0,500.0,SWE,Direct Employee Applicant,US-MTV,Sourcer Driven Employee Referral,Recruiter 1,10/28/15,NaN,1.0,1.0,1.0,NaN,NaN,2.7
100001.0,502.0,SWE,New Grad,US-MTV,Sourcer,Recruiter 2,10/15/15,NaN,1.0,1.0,1.0,NaN,NaN,2.4
100002.0,504.0,SWE,New Grad,US-MTV,Sourcer,Recruiter 2,8/27/15,NaN,1.0,1.0,1.0,NaN,NaN,2.7
100003.0,506.0,SWE,Direct Employee Applicant,US-MTV,Sourcer Driven Employee Referral,Recruiter 3,10/24/15,NaN,1.0,1.0,1.0,NaN,NaN,2.1
100004.0,508.0,SWE,New Grad,US-MTV,Sourcer,Recruiter 4,7/24/15,NaN,1.0,1.0,1.0,NaN,NaN,2.8

In [74]:
table = pd.DataFrame.pivot_table(df, values=['Average_Onsite_Interview_Score'],index=['Application_Type'],aggfunc=[np.mean,np.sum])

In [75]:
table

,mean,sum
,Average_Onsite_Interview_Score,Average_Onsite_Interview_Score
Application_Type,,
Direct Employee Applicant,2.558904,186.8
Employee Rehire,2.600000,2.6
Intern Conversion,2.690476,56.5
Intern Rehire,2.700000,5.4
Internal Transfer,2.623077,34.1
New Grad,2.582955,227.3
Temp Conversion,3.300000,3.3